<html>
<head>
    <title></title>
    <script type="text/javascript" src="Scripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="Scripts/underscore-min.js"></script>
    <script type="text/javascript" src="Scripts/ng-grid.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-ui.js"></script>

    <link rel="stylesheet" href="Styles/morrison.tab.css" />
    <link rel="stylesheet" href="Styles/morrison.controls.css" />
    <link rel="stylesheet" href="Styles/jquery-ui.css">
    <link rel="stylesheet" href="Styles/ng-grid.css" />
    <link rel="stylesheet" href="Styles/bootstrap.min.css">

    <script>
            angular.module("morrisonApp", ['ngGrid']).controller("TrackController", function ($scope) {

                var shipmentGridData =
                [
                    { AWB: "089-6934265-5", shipDate: "02/04/2015", dueDate: "02/12/2015", origin: "TPE", ORG: "", destination: "SFO", DST: "", pcs: "", wgt: "", status: "on" },
                    { AWB: "089-6934265-5", shipDate: "02/04/2015", dueDate: "02/12/2015", origin: "TPE", ORG: "", destination: "SFO", DST: "", pcs: "", wgt: "", status: "on" },
                    { AWB: "089-6934265-5", shipDate: "02/04/2015", dueDate: "02/12/2015", origin: "TPE", ORG: "", destination: "SFO", DST: "", pcs: "", wgt: "", status: "off" }
                ];

                $scope.ShipmentGridData = shipmentGridData;

                $scope.ShipmentGridColumnData =
                 [
                     //{ field: 'AWB', displayName: 'AWB', width: 100, cellTemplate: '<div ng-click="openShipmentDetails(row.entity[col.field])" class="link">{{row.entity[col.field]}}</div>' },
                     { field: 'AWB', displayName: 'AWB', width: 100, cellTemplate: '<a href="shipmentDetailTabs.html?Awb=row.entity[col.field])" target=_blank>{{row.entity[col.field]}}</a>' },
                     { field: 'shipDate', displayName: 'Ship Date' },
                     { field: 'dueDate', displayName: 'Due Date' },
                     { field: 'origin', displayName: 'Origin' },
                     { field: 'ORG', displayName: 'ORG' },
                     { field: 'destination', displayName: 'Destination' },
                     { field: 'DST', displayName: 'DST' },
                     { field: 'pcs', displayName: 'Pcs', width: 40 },
                     { field: 'wgt', displayName: 'Wgt', width: 40 },
                     { field: 'status', displayName: 'Status', width: 40, cellTemplate: '<div><input id="status" type="checkbox" ng-checked="row.entity.status==\'on\'" ng-input="COL_FIELD" ng-model="status" /></div>' }
                 ];

                $scope.shipmentGrid = {
                    data: 'ShipmentGridData',
                    columnDefs: 'ShipmentGridColumnData',
                    selectedItems: [],
                    multiSelect: false
                }

                $scope.openShipmentDetails = function (awb) {
                    console.log(awb);
                    //document.location.href = "shipmentDetailTabs.html?awb=" + awb;
                    //$('#shipmentDetailTabs').dialog('open');

                    // display the shipment details in the tab (with a Back button to the tracking screen)
                }
            });

    </script>
</head>
<body ng-app="morrisonApp">
    <div class="outerPanel lightGrayBackground" ng-controller="TrackController">
        <h3 style="margin-top: 5px">Shipment Search</h3>
        <table>
            <tr>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Waybill:</td>
                <td>
                    <input class="textbox" id="txtWaybill" />
                </td>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Ship Date:</td>
                <td>
                    <input class="textbox" id="txtShipDate" />
                </td>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Any reference or Serial Number:</td>
                <td>
                    <input class="textbox" id="txtReference" />
                </td>
            </tr>
            <tr>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Origin:</td>
                <td>
                    <input class="textbox" id="txtOrigin" />
                </td>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Due Date:</td>
                <td>
                    <input class="textbox" id="txtDueDate" />
                </td>
                <td></td>
                <td>
                    <input type="button" value="Search" style="margin-top: 15px" />
                </td>
            </tr>
            <tr>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Destination:</td>
                <td>
                    <input class="textbox" id="txtDestination" />
                </td>
                <td class="label" style="color: #333333; float: right; margin-top: 5px">Status:</td>
                <td>
                    <input class="textbox" id="txtStatus" />
                </td>
            </tr>
        </table>
        <p></p>
        <div class="grid" style="width: 600px; height: 300px" ng-grid="shipmentGrid">
        </div>
    </div>
    </body>
</html>
